Repository konflux-ci/tekton-tools: changes, and which Tekton pipelines are due for each by the changed paths.
All: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

rpms-signature-scan-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: target-branch
    value: '{{target_branch}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-vanguard-tenant/tekton-tools/rpms-signature-scan:{{revision}}
  - name: dockerfile
  ...

rpms-signature-scan-v02-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-vanguard-tenant/rpms-signature-scan-v02:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

chore(deps): update quay.io/konflux-ci/tools docker digest to 4b88613
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

chore(deps): update quay.io/konflux-ci/tools docker digest to b7fc35c
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

chore: add image-digest to sast-unicode-check
  .tekton/test-container-pull-request.yaml
Due: none

fix: output image registry
  .tekton/rpms-signature-scan-v02-pull-request.yaml
  .tekton/rpms-signature-scan-v02-push.yaml
Due: rpms-signature-scan-v02-on-push

chore(deps): update quay.io/konflux-ci/tools docker digest to 94c2650
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

fix: deprecate rpms-signature-scan v0.1
  tasks/rpms-signature-scan/0.1/README.md
  tasks/rpms-signature-scan/0.1/rpms-signature-scan.yaml
Due: none

fix: sync only version 0.2
  .tekton/test-container-push.yaml
Due: none

chore(deps): update quay.io/konflux-ci/tools docker digest to 881b28f
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

test: dummy pr to test conforma
  tasks/rpms-signature-scan/0.2/MIGRATION.md
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

chore(deps): update quay.io/konflux-ci/tools docker digest to bfee53f
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

chore(deps): update konflux references
  .tekton/rpms-signature-scan-v02-pull-request.yaml
  .tekton/rpms-signature-scan-v02-push.yaml
  .tekton/test-container-pull-request.yaml
  .tekton/test-container-push.yaml
Due: rpms-signature-scan-v02-on-push

chore(deps): update quay.io/konflux-ci/tools docker digest to 8eea07d
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

fix: releasing from merge queue
  .tekton/rpms-signature-scan-tests-pull-request.yaml
  .tekton/rpms-signature-scan-v02-pull-request.yaml
  .tekton/test-container-pull-request.yaml
Due: none

chore: Limit push builds to task/ directory changes
  .tekton/rpms-signature-scan-v02-push.yaml
Due: rpms-signature-scan-v02-on-push

chore: resolve markdown conflicts
  tasks/rpms-signature-scan/0.2/README.md
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

fix: adapt pipeline to service account migration
  .tekton/test-container-pull-request.yaml
  .tekton/test-container-push.yaml
Due: none

chore(KFLUXVNGD-555): add migration script
  tasks/rpms-signature-scan/0.2/migrations/0.2.1.sh
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

chore(KFLUXVNGD-555): bump task version to 0.2.1
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

chore(KFLUXVNGD-555): dummy commit for migration
  tasks/rpms-signature-scan/0.2/migrations/0.2.1.sh
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

fix(KFLUXVNGD-555): v0.2.2 migration script - test
  .tekton/rpms-signature-scan-tests-pull-request.yaml
  .tekton/rpms-signature-scan-v02-pull-request.yaml
  tasks/rpms-signature-scan/0.3/MIGRATION.md
  tasks/rpms-signature-scan/0.3/README.md
  tasks/rpms-signature-scan/0.3/migrations/0.3.sh
  tasks/rpms-signature-scan/0.3/rpms-signature-scan.yaml
Due: none

chore: update mintmaker schedule
  renovate.json
Due: none

chore(KFLUXVNGD-555): migrate to 0.2.1
  tasks/rpms-signature-scan/0.2/MIGRATION.md
  tasks/rpms-signature-scan/0.2/migrations/0.2.1.sh
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

fix: gitlint failure with updated git-clone task
  .tekton/test-container-pull-request.yaml
Due: none

feat: add resource limits to rpms-signature-scan task steps
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

fix: Add retry logic for transient errors in rpms-signature-scan
  .tekton/rpms-signature-scan-tests-pull-request.yaml
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

feat: use index image for signature scan
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

fix(KFLUXVNGD-960): update tools image in rpms-signature-scan task
  tasks/rpms-signature-scan/0.2/rpms-signature-scan.yaml
Due: rpms-signature-scan-on-push, rpms-signature-scan-v02-on-push

chore: add fullsend to gitlint whitelist
  .gitlint
Due: none

feat(KFLUXVNGD-972): Add AGENTS.md and CI validation for line count
  .github/workflows/lint.yaml
  AGENTS.md
  CLAUDE.md
Due: none

feat(push-pipeline): Remove test-container-push.yaml
  .tekton/test-container-push.yaml
  AGENTS.md
  tasks/create-pull-request.yaml
Due: none

Path conditions:
  rpms-signature-scan-on-push: (any of: tasks/rpms-signature-scan/0.2/***) or (any of: .tekton/rpms-signature-scan-push.yaml)
  rpms-signature-scan-v02-on-push: (any of: tasks/rpms-signature-scan/0.2/***) or (any of: .tekton/rpms-signature-scan-v02-push.yaml)
